.bridge-cockpit-page {
	background-image: url('/img/cockpit-bg1.jpg');
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	background-color: rgba(0, 13, 26, 1);
	color: #fff;
	.tc {
		text-align: center;
	}

	.module-pub {
		background: rgba(11, 19, 27, 0.6);
		border: 1px solid #0a2540;/*no*/
		box-shadow: 0 13px 22px 0 #12334b inset;
	}


// 下拉菜单

.el-dropdown-menu {
    background-color: #0c3959;

    &__item {
        &--divided {
            &:before {
                background-color: #0c3959;
            }
        }
    }
}



































}